[Unit]
Description=Hot Macropad Service for %i
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/hot-macropad /dev/input/by-id/%i default
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
